@tailwind base;

@tailwind components;

@tailwind utilities;

/* 



.modal-layout {

  animation: shiftUp 0.4s;

}

@keyframes popup {

  0% {

    transform: scale(0.8);

  }

  100% {

    transform: scale(1);

  }

}



@keyframes shiftUp {

  0% {

    transform: translateY(-300);

  }

  100% {

    transform: translateY(0);

  }

} */



.bgblue-custom{

  background-color: #1194FF;

}

.bd-color{

  border-color: #d6dbdd;

}



.textblue-custom{

  color: #0E76CC;

}



/* Global TouchableOpacity opacity styles */

.touchable-opacity {

  opacity: 0.8;

}



.touchable-opacity:active {

  opacity: 0.6;

}



.touchable-opacity:disabled {

  opacity: 0.4;

}

